.white{

  color:white;

}
*{
  font-family: "Times New Roman", Times, serif;
}
p{
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin: 0 0 1px;
  color: #000000;
}

.sabores{
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin: 0 0 4px;
  color: #000000;
}
.pedido{
  background-color: white;
}